@charset "utf-8";
/* CSS Document */


.view_sub {
	margin-left:5px 5px;

	padding:0px;
	width:100%;
	border:1px solid #000000;
	
	
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
	
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
	
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
	
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
	
}.view_sub table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.view_sub tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
.view_sub table tr:first-child td:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
.view_sub table tr:first-child td:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}.view_sub tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}.view_sub tr:hover td{
	background-color:#ffffff;
		

}
.view_sub td{
	vertical-align:middle;
		background:-o-linear-gradient(bottom, #897785 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #897785), color-stop(1, #ffffff) ); 
	background:-moz-linear-gradient( center top, #897785 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#897785", endColorstr="#ffffff");	background: -o-linear-gradient(top,#897785,ffffff);

	background-color:#897785;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:6px;
	font-size:15px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.view_sub tr:last-child td{
	border-width:0px 1px 0px 0px;
}.view_sub tr td:last-child{
	border-width:0px 0px 1px 0px;
}.view_sub tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.view_sub tr:first-child td{
		background:-o-linear-gradient(bottom, #1c1619 5%, #d6c4b3 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1c1619), color-stop(1, #d6c4b3) );
	background:-moz-linear-gradient( center top, #1c1619 5%, #d6c4b3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c1619", endColorstr="#d6c4b3");	background: -o-linear-gradient(top,#1c1619,d6c4b3);

	background-color:#1c1619;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:16px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.view_sub tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #1c1619 5%, #d6c4b3 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1c1619), color-stop(1, #d6c4b3) );
	background:-moz-linear-gradient( center top, #1c1619 5%, #d6c4b3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c1619", endColorstr="#d6c4b3");	background: -o-linear-gradient(top,#1c1619,d6c4b3);

	background-color:#1c1619;
}
.view_sub tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.view_sub tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

.delete {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #703333));
	background:-moz-linear-gradient(top, #fe1a00 5%, #703333 100%);
	background:-webkit-linear-gradient(top, #fe1a00 5%, #703333 100%);
	background:-o-linear-gradient(top, #fe1a00 5%, #703333 100%);
	background:-ms-linear-gradient(top, #fe1a00 5%, #703333 100%);
	background:linear-gradient(to bottom, #fe1a00 5%, #703333 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#703333',GradientType=0);
	background-color:#fe1a00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ff1500;
	display:inline-block;
	cursor:pointer;
	color:#f7f7f7;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 75px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
.delete:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #703333), color-stop(1, #fe1a00));
	background:-moz-linear-gradient(top, #703333 5%, #fe1a00 100%);
	background:-webkit-linear-gradient(top, #703333 5%, #fe1a00 100%);
	background:-o-linear-gradient(top, #703333 5%, #fe1a00 100%);
	background:-ms-linear-gradient(top, #703333 5%, #fe1a00 100%);
	background:linear-gradient(to bottom, #703333 5%, #fe1a00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#703333', endColorstr='#fe1a00',GradientType=0);
	background-color:#703333;
}
.delete:active {
	position:relative;
	top:1px;
}


.foo{
-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #fff5ff));
	background:-moz-linear-gradient(top, #ffffff 5%, #fff5ff 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #fff5ff 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #fff5ff 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #fff5ff 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #fff5ff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fff5ff',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ff1c27;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
margin-top:16px;
margin-bottom:16px;

}

.return {
	-moz-box-shadow:inset 0px 1px 0px 0px #d2d7db;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d2d7db;
	box-shadow:inset 0px 1px 0px 0px #d2d7db;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea));
	background:-moz-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-webkit-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-o-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-ms-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea',GradientType=0);
	background-color:#bddbfa;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #4977a6;
	display:inline-block;
	cursor:pointer;
	color:#050005;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e0f0ff;
}
.return:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa));
	background:-moz-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-webkit-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-o-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-ms-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa',GradientType=0);
	background-color:#80b5ea;
}
.return:active {
	position:relative;
	top:1px;
}

.payment_status{
	color:#0AA71C;
}
