@charset "utf-8";
/* CSS Document */
table{
	width:100%;
	
}
th{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #eb4ceb));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #eb4ceb 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #eb4ceb 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #eb4ceb 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #eb4ceb 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #eb4ceb 100%);

}
td{
	vertical-align:top;
	border-right:solid;
}


#total_credit{
	float:left;
	color:red;
}

#warning{
	text-align:center;
	color:red;
}

.subject_choice_next {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:22px;
	font-weight:bold;
	padding:7px 74px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
	margin:auto;
}
.subject_choice_next:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
	background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
	background-color:#378de5;
}
.subject_choice_next:active {
	position:relative;
	top:1px;
}

#next_button{
	position:absolute;
    bottom: 5%;
    right:10%;
}

#full_total{
	position:absolute;
    bottom: 5%;
    left:10%;
}


#next_button{
	position:absolute;
    bottom: 5%;
    right:10%;
}

p {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
#credit {color:blue;}

.bottom {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #d4d4d4));
	background:-moz-linear-gradient(top, #ffffff 5%, #d4d4d4 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #d4d4d4 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #d4d4d4 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #d4d4d4 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #d4d4d4 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d4d4d4',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #d7ddde;
	display:inline-block;
	cursor:pointer;
	color:#030303;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:4px 96px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ebe4eb;
}
.bottom:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d4d4d4), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #d4d4d4 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #d4d4d4 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #d4d4d4 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #d4d4d4 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #d4d4d4 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4d4d4', endColorstr='#ffffff',GradientType=0);
	background-color:#d4d4d4;
}
.bottom:active {
	position:relative;
	top:1px;
}




.top {
	-moz-box-shadow:inset 0px 1px 0px 0px #fdfffa;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fdfffa;
	box-shadow:inset 0px 1px 0px 0px #fdfffa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #d9ffb8));
	background:-moz-linear-gradient(top, #ffffff 5%, #d9ffb8 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #d9ffb8 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #d9ffb8 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #d9ffb8 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #d9ffb8 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9ffb8',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #e6fae1;
	display:inline-block;
	cursor:pointer;
	color:#0d0d0d;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:4px 96px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.top:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d9ffb8), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #d9ffb8 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #d9ffb8 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #d9ffb8 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #d9ffb8 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #d9ffb8 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9ffb8', endColorstr='#ffffff',GradientType=0);
	background-color:#d9ffb8;
}
.top:active {
	position:relative;
	top:1px;
}

        

.credit {float:right;

	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ff000d;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	float:left;
margin-top:16px;
margin-bottom:16px;}

#full_total{-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #fff5ff));
	background:-moz-linear-gradient(top, #ffffff 5%, #fff5ff 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #fff5ff 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #fff5ff 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #fff5ff 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #fff5ff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fff5ff',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d426d4;
	display:inline-block;
	cursor:pointer;
	color:#ff1c27;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
margin:0px;

}
