@charset "utf-8";
/* CSS Document */
.info1
{
	float:right;
	
}

.picture
{
	float:left;
}

.info2
{
	float:left;
}

.info3
{
	float:right;
	margin-right:10%;
}

#imgfinal
{
	width:25%;
	height:25%;
}

.p1
{
	clear:both;
}

.p2
{
	clear:both;
}

