<style> type="text/css"> .form-style-4 {
 border: 5px solid #53687E;
}

.first{
	
	padding-left: 3%;
	padding-top: 2%;
	padding-bottom: 20%;
	border: groove;
	border-bottom:none;
	}

.form_main {
	
	float:left;
}

.picture {
	
	padding-top: 3%;
	padding-left: 3%;
	
	
		
}

.information{
	float:left;
}

.info_image{
	outline-style: solid;
	padding-top: 2%;
	padding-bottom: 20%;
	
	
}

.information{
	
	float:left;
	padding-right: 20%;
	padding-left: 2%;
	
	
}

#imgfinal{
	width:25%;
	height:25%;
}

#image{
   
    width:25%;
	height:25%;
	margin-right:15%;
	float:right;
}

.info{
	float:left;
	padding-top: 10%;
	padding-left: 6%;
	}

.form_table {
	padding-left: 3%;
	padding-right: 5%;
	border-left: groove;
	border-right: groove;
	padding-top: 1%;
	float:none;
}
.address {
	padding-left: 5%;
	border: groove;
	border-top:none;
}
.form-style-4 input[type=submit], .form-style-4 input[type=button], .form-style-4 input[type=text], .form-style-4 input[type=email], .form-style-4 textarea, .form-style-4 label {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #0E42BB;
}
.form-style-4 label {
	display: block;
	margin-bottom: 10px;
}
.form-style-4 label > span {
	display: inline-block;
	float: left;
	width: 150px;
	color: black;
}
.form-style-4 input[type=text], .form-style-4 input[type=email] {
	background: transparent;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	width: 450px;
	outline: none;
	padding: 0px 0px 0px 0px;
	font-style: italic;
	position:relative;
}
.form-style-4 textarea {
	font-style: italic;
	padding: 0px 0px 0px 0px;
	background: transparent;
	outline: none;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	width: 275px;
	overflow: hidden;
	resize: none;
	height: 20px;
	position:relative;
}
.form-style-4 textarea:focus, .form-style-4 input[type=text]:focus, .form-style-4 input[type=email]:focus, .form-style-4 input[type=email] :focus {
	border-bottom: 1px dashed #D9FFA9;
}
.form-style-4 input[type=submit], .form-style-4 input[type=button] {
	background: #576E86;
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	width: 20%;
	align-items: center;
	color: #A8BACE;
}
.form-style-4 input[type=submit]:hover, .form-style-4 input[type=button]:hover {
	background: #394D61;
}
</style>
