@charset "utf-8";
/* CSS Document */

#banner{
	width:100%;
	border:ridge;
}

#login{
	background:#073C7B;
	width:100%;
	padding:1em;
	border:groove;
	
}

.login_header{
	color:#FFFFFF;
	font-size:1.3em;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	padding-left:.5em;
	background-color:transparent;
	background-color:#2D7136;
	
}

.login_username{
	color:#FFFFFF;
}

.login_password{
	color:#FFFFFF;
	padding-left:8px;
	
}